<div class='w-full justify-center flex items-center py-24'>
  <div class='text-left w-1/2 pl-3' style='width: 50rem;'>
    <p class='text-white font-mono text-lg text-spawn'>
      Howdy! I'm Eemeli, a computer science student in Aalto University. I am
      currently pursuing full stack development and mathematics, with an
      interest in AI and machine learning as well.
    </p>
  </div>
</div>
<style>
  .text-spawn {
    animation: textSpawn 1s ease-in;
  }
  @keyframes textSpawn {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
</style>
