---
import Repo from './Repo.astro'

interface Repository {
  url: string
  customDescription?: string
}

interface Props {
  repos: Repository[]
}

const { repos } = Astro.props

let repos_json = null

repos_json = await Promise.all(
  repos.map(async (repo) => {
    const repo_data = await fetch(repo.url)
    const repo_json = await repo_data.json()
    if (repo.customDescription) {
      repo_json.customDescription = repo.customDescription
    }
    return repo_json
  })
)
---

<div class='justify-center flex overflow-visible'>
  <div
    id='repositories'
    style='width: 50rem;'
    class='flex flex-wrap justify-center'
  >
    {
      repos_json.map((repo: any, index: number) => (
        <Repo
          repo={repo}
          index={index}
          customDescription={repo.customDescription}
        />
      ))
    }
  </div>
</div>
